elm-stuff
node_modules
build-app/
build-ip/
temp/
docs/elm.js
docs/dir.json
generated-images/
docs/screenshots
docs/screenshots-NEW

# Public

/PWD.md
/TODO.md
/index.html
/build
/docs/screenshots-DO_NOT_DELETE
/image-processing